
<div class="slds-text-heading_medium">Etape 1: Création de l'organisation de développement</div>

<div class="slds-text-body_regular">
Nous allons simplement créer une "Scratch Org", qui est un environnement de développement éphémère.
Celle-ci nous permettra de réaliser nos configurations, mais également de voir comment Salesforce DX permet le développement collaboratif, l'intégration continue, et le déploiement continue.

</div>

<center><button class="slds-button slds-button_brand" onclick="window.location.href='/?action=createSO'">Créer l'org</button></center>

