
<div class="slds-text-heading_medium">Etape 7: Mobilité</div>

<div class="slds-text-body_regular">
    Et si je vous disais que tout le travail que vosu avez fait est diponible en mobilité?
    Regardons ça de plus près...

</div>

<center><button class="slds-button slds-button_brand" onclick="launch();">Pour pouvoir passer à l'étape suivante...</button></center>

