
<div class="slds-text-heading_medium">Etape 6: Rapports</div>

<div class="slds-text-body_regular">
Nous allons maintenant utiliser l'éditeur de rapport et tableau de bord afin de visualiser la donnée.<br>
Métadonnée visible <a href="https://github.com/mjacquet/gestion-embauche/tree/step5" target="_blank">ici</a>
</div>

<center><button class="slds-button slds-button_brand" onclick="launch();">Créer le rapport et tableau de bord</button></center>

