<div class="slds-text-heading_medium">Etape 5: Automatisation</div>

<div class="slds-text-body_regular">

Nous allons maintenant automatiser certaines actions!
Utilisons le Lightning Process Builder pour simplifier la vie de nos utilisateurs.

</div>

<center><button class="slds-button slds-button_brand" onclick="launch();">Créer le processus automatiquement</button></center>

