<div class="slds-text-heading_medium">Etape 4: Interface utilisateur</div>

<div class="slds-text-body_regular">

Vous avez maintenant pu tester une première version de l'application! Hourra!<br>
Et si on ajoutait un peu de collaboration?
On pourrait aussi créer des vues de listes plus sexys et des présentations de pages personnalisées. 
Au travail!
</div>

<center><button class="slds-button slds-button_brand" onclick="launch();">Appliquer les changements automatiquement</button></center>

