<div style="padding: 3rem 1rem 0px;background: rgb(244, 246, 249); padding: 1rem;">
        <div class="slds-progress slds-progress_shade">
          <ol class="slds-progress__list" style="padding:0;"> 
            
              <% for(let i=0; i<steps.length ; i++){ %>
                  <li class="slds-progress__item  <% if(step>i){ %>slds-is-completed<%}%> <% if(step==i){ %>slds-is-active<%}%>">
                  <button onclick="window.location.href='/?action=nextstep&step=<%= i %>'" class="slds-button slds-progress__marker <% if(step>i){ %>slds-button_icon slds-progress__marker_icon<%}%>" title="<%= steps[i].title %>">
                        <% if(step>i){%>
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../dist/assets/icons/utility-sprite/svg/symbols.svg#success" />
                    </svg>
                    <%}%>
                    <span class="slds-assistive-text"><%= steps[i].title %></span>
                  </button>
                </li>
             <% }%>
           
          </ol>
          <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" role="progressbar">
            <span class="slds-progress-bar__value" style="width: <%= ((step)/(steps.length-1))*100  %>%;">
              <span class="slds-assistive-text">Progress: 50%</span>
            </span>
          </div>
        </div>
      </div>